:root {
  --primary-color: #3c93d6;
  --secondary-color: #ff914d;
}

.infoBox {
  width: 900px;
  margin-top: 40px;
  border: 2px solid #3c93d6;
  border-radius: 26px;
  padding: 50px 50px;
  background-color: white;
  box-shadow: 3px 7px 26px rgba(0, 0, 0, 0.13);
  font-size: 18px;
}
.addcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputButton {
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 15px;
}

.inputButton-outline {
  background: white;
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
}
.inputButton-outline:hover {
  background: var(--primary-color);
  color: white;
  border: solid 1px var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
}
.inputButton-outline-delete {
  background: white;
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
}

.form-button-cancel {
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 15px;
}

.form-button {
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 15px;
}

.profile-card {
  margin-top: 20px;
}

.form-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.nameInput {
  margin-right: 10px;
  max-width: calc(50% - 20px);
  padding: 5px 0px 5px 5px;
  border: 1px solid;
  border-radius: 4px;
}

.normalInput {
  padding: 5px 0px 5px 5px;
  border: 1px solid;
  border-radius: 4px;
}

.nameInput:focus .normalInput:focus {
  border: solid 1px;
  border-radius: 4px;
}
.form-label {
  font-size: 22px;
  font-weight: bold;
}
.form-edit {
  align-self: flex-start;
  margin-left: auto;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}
.form-edit:hover {
  text-decoration: underline;
}

.cardbox {
  padding: 20px;
}
.cardbox img {
  max-width: 100% !important;
  max-height: 150px !important;
  height: auto !important;
  object-fit: contain !important;
}

.add-button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button:hover {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addText {
  color: var(--primary-color);
}

.card-form-info {
  margin-top: 13px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

/* 小型设备（手机） */
@media (max-width: 767.98px) {
  .infoBox {
    width: 70%;
    margin-top: 40px;
    border: none;
    border-radius: 26px;
    padding: 50px 50px;
  }
  .outerBox {
    padding: 10px 0px;
  }
  .profile-card-right {
    margin-left: 0px;
    margin-top: 20px;
  }
}

/* 中型设备（平板电脑） */
@media (min-width: 768px) and (max-width: 991.98px) {
  .infoBox {
    width: 99%;
  }
}

/* 大型设备（桌面显示器） */
@media (min-width: 992px) {
}
.follow-btn {
  padding: 8px 16px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
}
