.post-outer-box {
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
}
.post-img {
  transition: transform 500ms ease;
  cursor: pointer;
  height: auto;
  flex: 1 1 22%;
  width: calc(20% - 10px);
  height: auto;
  cursor: pointer;
  overflow: hidden;
  margin: 5px;
}
.drawertitle {
  text-align: center;
  padding: 10px 10px 30px 10px;
  margin-bottom: "30px";
  color: #3c93d6;
}

.post-img:hover {
  transform: scale(1.1);
}
.favorite-box {
  position: relative;
  margin: 50px 20px;
  border: 2px solid #3c93d6;
  border-radius: 23px;
  padding: 25px 40px;
  background-color: white;
  box-shadow: 3px 7px 26px rgba(0, 0, 0, 0.13);
}

.upload-btn {
  padding: 8px 16px;
  background: #3c93d6;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
}
