.serviceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.serviceWrapper{
    display: grid;
    max-width: 1024px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.textNicon{
    display: flex;
    gap: 15px;
    /* align-items: center; */
    text-align: center;
    margin: 0 3rem;
}
.Facititle{
    padding-bottom: 1rem;
    grid-column: 1 / -1;
}
.nearbyWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    margin-top: 20px;
}

/* swiper */
.swiperContainer{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.horizontalSlide {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 10px;
}
.swiperImg{
    height: 25rem;
    width: 18rem;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}
.imgTitlle{
    position: absolute;
    color: #fff;
    top: 20px;
    left: 20px;
}
.imgLink{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s ease;
}
.imgLink:hover{
    transform: rotate(-45deg);
    color: #d35e35;
}
.sliderArrow{
    cursor: pointer;
    margin: 0;
}
.sliderControler{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center !important;
    gap: 20px;
    padding: 20px;
    position: relative;
}
.swiperPagination{
    display: flex;
    align-items: center !important;
    width: auto !important;
}
.sliderControler a{
    position: absolute;
    right: 30px;
    text-decoration: none;
}
